{% load aiel %}

{% for i in choices %}
    {% if i.subcategories.count > 0 %}
        <div class="main-categories">
            <div class="adult-categories">
                <label class="category">
                    <input {% include "django/forms/widgets/attrs.html" %} data-id="category-{{ i.pk }}"
                                                                           name="{{ widget.name }}" type="checkbox"
                                                                           value="{{ i.pk }}"
                                                                           {% if i.pk|str in widget.value %}checked{% endif %}>
                    <span></span>

                    <button type="button">{{ i }}</button>
                </label>
            </div>
            <div uk-dropdown="mode: click" class="categories-dropdown">
                {% for j in i.subcategories.all %}

                    <div class="add-categories">
                        <div class="characters-categories">
                            <label class="subcategory">
                                <input {% include "django/forms/widgets/attrs.html" %} data-id="subcategory-{{ i.pk }}"
                                                                                       name="{{ widget.name }}"
                                                                                       type="checkbox"
                                                                                       value="{{ j.pk }}"
                                                                                       {% if j.pk|str in widget.value %}checked{% endif %}>
                                <span></span>
                                {{ j }}
                            </label>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}