{% if is_paginated %}
    {% load i18n %}
    <div class="pages">
        <div class="pages-container uk-text-center">
            {% block pagelinks %}
                {% if display_page_links %}
                    {% for page in pages %}
                        {% if page %}
                            {% ifequal page page_obj.number %}
                                <a class="pages-btn pages-btn-active" href="#">{{ page }}</a>
                            {% else %}
                                {% if disable_link_for_first_page and page == 1 %}
                                    <a href="{{ request.path }}{% if getvars %}?{{ getvars|slice:"1:" }}{% endif %}"
                                       class="pages-btn">{{ page }}</a>
                                {% else %}
                                    <a href="?page{{ page_suffix }}={{ page }}{{ getvars }}" class="pages-btn">{{ page }}</a>
                                {% endif %}
                            {% endifequal %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endblock pagelinks %}
        </div>
    </div>
{% endif %}
