{% extends "base.html" %}
{% block title %}
    Страница не найдена
{% endblock %}
{% block content %}
    <div class="error">
        <div class="uk-container uk-container-expand">
            <div class="error-text">
                <h2>404 — Страница не найдена</h2>
                <p>Вы перешли по неправильной ссылке</p>
            </div>
        </div>
    </div>
{% endblock %}