{% extends "base.html" %}
{% block title %}
    О нас
{% endblock %}
{% block content %}
    <div class="about-us">
        <div class="uk-container">
            <h2>О нас</h2>
            <div class="about-us-text ck-block">
                {% if about %}
                    {{ about.text|safe }}
                {% endif %}
                <div class="about-us-counters">
                    {% for i in about.counters.all %}
                        <div class="counter-item">
                            <span class="counter-number spincrement">{{ i.number }}</span>
                            <span class="counter-info">{{ i.text }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}