{% load staticfiles aiel widget_tweaks %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Ай & Эль</title>
    <link rel="stylesheet" href="{% static "css/uikit.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/media.css" %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/css/lightgallery.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/fonts/lg.eot"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/fonts/lg.svg"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/fonts/lg.ttf"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/fonts/lg.woff"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/img/loading.gif"/>
    <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/uikit.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/uikit-icons.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "slick/slick.css" %}">
    <link rel="stylesheet" href="{% static "slick/slick-theme.css" %}">
    <script type="text/javascript" src="{% static "js/uikit.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/uikit-icons.min.js" %}"></script>
    <script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.inputmask.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.spincrement.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.11/js/lightgallery-all.min.js"></script>
    <script src="{% static 'js/zoomsl-3.0.js' %}"></script>
    <link rel="shortcut icon" href="{% static "favicon.png" %}">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(51835505, "init", {
            id: 51835505,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/51835505
https://mc.yandex.ru/watch/51835505
" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131131244-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131131244-1');
    </script>
</head>
<body>
<header>
    <div class="uk-container-expand uk-container">
        <nav class="uk-navbar-container tm-navbar-container uk-sticky uk-sticky-fixed" uk-navbar>
            <button class="uk-button uk-button-default uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon"
                    uk-navbar-toggle-icon type="button"></button>
            <div uk-dropdown="mode: click" class="dropdown-navbar">
                <ul class="uk-nav uk-dropdown-nav">
                    <li><a href="{% url "index" %}">Главная</a></li>
                    <li><a href="{% url "about" %}">О нас</a></li>
                    <li><a href="{% url "conditions" %}">Условия</a></li>
                    <li><a href="{% url "payment" %}">Оплата</a></li>
                    <li><a href="{% url "delivery" %}">Доставка</a></li>
                    <li><a href="{% url "contacts" %}">Контакты</a></li>
                </ul>
            </div>
            <div class="uk-navbar uk-navbar-left">
                <ul class="uk-navbar-nav uk-visible@m">
                    <li><a href="{% url "index" %}">Главная</a></li>
                    <li><a href="{% url "about" %}">О нас</a></li>
                    <li><a href="{% url "conditions" %}">Условия</a></li>
                    <li><a href="{% url "payment" %}">Оплата</a></li>
                    <li><a href="{% url "delivery" %}">Доставка</a></li>
                    <li><a href="{% url "contacts" %}">Контакты</a></li>
                </ul>
            </div>

            <a href="{% url "index" %}" class="uk-navbar-item uk-logo uk-navbar-center logo"><img
                    src="{% static "images/logo.svg" %}" alt=""></a>

            <div class="uk-navbar-right">
                <a class="basket" href="{% url "cart" %}">
                    <img src="{% static "images/basket.svg" %}" alt="">
                    <span>Корзина: <i id="basket">{% cart_items_count request %}</i></span>
                </a>
            </div>
        </nav>
    </div>
</header>

{% block content %}{% endblock %}

<footer>
    <div class="uk-container-expand uk-container">
        <div class="uk-text-right">
            <div>
                <div class="social-nets">
                    <a href="{% if social %}{{ social.disqus }}{% endif %}" target="_blank" class="social ds"></a>
                    <a href="{% if social %}{{ social.vk }}{% endif %}" target="_blank" class="social vk"></a>
                    <a href="{% if social %}{{ social.instagram }}{% endif %}" target="_blank" class="social in"></a>
                    <a href="{% if social %}{{ social.fb }}{% endif %}" target="_blank" class="social fb"></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<a class="whatsapp-link" href="https://wa.me/{{ contacts.whatsapp }}" target="_blank">
    <img src="{% static "images/whatsapp.svg" %}" alt="">
</a>
<a class="calling-link uk-visible@m" href="#" uk-toggle="target: #call">
    <img src="{% static "images/callback.png" %}" alt="">
</a>
<a class="calling-link uk-hidden@m" href="tel:{{ contacts.phone }}">
    <img src="{% static "images/callback.png" %}" alt="">
</a>
<div id="call" uk-modal class="calling-modal-main-cont">
    <div class="uk-modal-dialog uk-modal-body calling-modal-container">
        <div class="calling-modal">
            <h4>Заказать звонок</h4>
            <form class="callbackForm" method="post" action="{% url "callback_create" %}">
                <label for="modalName">Ваше имя</label>
                {% render_field callback_form.name placeholder="Введите имя" %}
                <label for="modalTel">Контактный телефон</label>
                {% render_field callback_form.phone placeholder="+ _ _ _ _ _ _ _ _ _ _ _ _ " id="modalTel" pattern="[+]{1}[0-9\s]+" %}
                <label for="modalMail">Эл. почта</label>
                {% render_field callback_form.email placeholder="example@mail.com" %}
                <button type="submit" id="modalSend">Отправить</button>
            </form>
            <button class="uk-modal-close modal-close-btn" type="button"></button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(":input").inputmask();
    $("#modalTel").inputmask({"mask": "+ 9 9 9 9 9 9 9 9 9 9 9 9"});
</script>
<script>
    $('.lightbox').lightGallery({
        selector: '.floor-link'
    });
</script>
<script>
    jQuery(function () {
        $(".my-foto").imagezoomsl();
    });
</script>
{% if contacts.jivosite_code %}
    {{ contacts.jivosite_code|safe }}
{% endif %}

</body>
</html>
