{% extends "base.html" %}
{% load aiel widget_tweaks staticfiles %}

{% block title %}
    Корзина
{% endblock %}
{% block content %}
    <div class="basket-block">
        <div class="uk-container uk-container-expand">
            <h2>Корзина</h2>
            {% get_cart_items request as items %}

            <div class="basket-items">
                {% for i in items %}
                    <table class="uk-table uk-table-divider basket-item"
                           id="row-{{ i.product.pk }}">
                        <tbody>
                        <tr class="uk-flex uk-flex-wrap uk-flex-middle">
                            <td class="uk-flex uk-flex-center uk-flex-between@s uk-width-1-1 uk-width-3-4@m">
                                <a href="{% url "product_detail" pk=i.product.pk %}" class="basket-image">
                                    <img src="{% if i.product.main_image %}{{ i.product.main_image.url }}{% endif %}"
                                         alt="">
                                    {% if i.product.hit %}
                                        <div class="catalog-hit">
                                            <span>Хит</span>
                                        </div>
                                    {% endif %}
                                </a>
                                <div class="basket-features-block uk-width-2-3 uk-width-4-5@s uk-width-expand@m">
                                    <div>
                                        <h3>{{ i.product.title }}</h3>
                                    </div>
                                    <div class="basket-features uk-flex uk-child-width-1-2@s uk-text-center uk-text-left@s">
                                        <div>
                                            <p><b>Категория: </b><span
                                                    class="basket-padding">{{ i.product.category }}</span></p>
                                            <p><b>Артикул: </b><span>{{ i.product.code }}</span></p>
                                            <p><b>Размер: </b><span>{{ i.product.size }}</span></p>
                                        </div>
                                        <div>
                                            <p><b>Штук в линейке: </b></b>
                                                <span>{{ i.product.quantity_in_linear }}</span></p>
                                            <p><b>Длина: </b><span>{{ i.product.length }}</span></p>
                                            <p><b>Цвет: </b><span>{{ i.product.color }}</span></p>
                                            {% if i.product.limited %}
                                                <span class="catalog-item-limited">ограниченная серия</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="bottom-td uk-flex uk-flex-between uk-flex-middle uk-flex-wrap uk-flex-nowrap@s uk-child-width-1-2 uk-child-width-auto@s uk-width-1-1 uk-width-1-4@m">
                                <div class="basket-quantity uk-text-center">
                                    <h4>Количество линеек</h4>
                                    <div class="basket-switch">
                                        <span class="minus">-</span>
                                        <input class="cartItemQuantity" type="text" value="{{ i.quantity }}"
                                               data-product-id="{{ i.product.pk }}"
                                               data-replace-quantity="1"
                                               data-url="{% url "add_to_cart" %}"/>
                                        <span class="plus">+</span>
                                    </div>
                                </div>
                                <div class="basket-delete uk-text-center cartItemDeleteBtn"
                                     data-product-id="{{ i.product.pk }}"
                                     data-url="{% url "remove_from_cart" %}">
                                    <a href="#" class="btn-delete"></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endfor %}
            </div>
            <div class="basket-order">
                <h2>Оформление заказа</h2>
                <div class="basket-form uk-width-1-1 uk-width-2-3@m uk-width-1-2@l">
                    <form class="uk-grid orderForm" method="post" action="{% url "order_create" %}">
                        <div class="uk-width-1-1 uk-width-1-2@s">
                            <a href="{% url "price-form" %}">Запрос прайс-листа</a>
                        </div>
                        <div class="uk-width-1-1 uk-width-1-2@s">
                            <a uk-toggle="target: #cartModal" href="#">Купить в розницу</a>
                        </div>
                    </form>
                </div>
            </div>
            <div id="cartModal" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <h2 class="uk-modal-title">Покупка в розницу</h2>
                    <p>Для покупки в розницу пожалуйста обратитесь по следующим контактам:</p>
                    <h2>Россия</h2>
                    {{ req.ru_retail_text|safe }}
                    <h2>Кыргызстан</h2>
                    {{ req.kg_retail_text|safe }}
                    <button class="uk-modal-close" type="button"></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}