{% extends "base.html" %}
{% load widget_tweaks staticfiles pagination_tags %}

{% block title %}
    Каталог
{% endblock %}
{% block content %}
    <div class="catalog-part">
        <div class="uk-container-expand uk-container">

            <h2 class="uk-text-center main-catalog-title">
                {{ main_category.title }}</h2>

            <form method="get" action="" id="filterForm">
                <div class="uk-grid-match uk-child-width-expand@s uk-text-left" uk-grid>
                    <div class="categories-container uk-width-auto@m">
                        <div class="categories">
                            <h3 class="categories-title">Категории</h3>
                            {% render_field form.category %}
                            <button class="uk-button uk-button-primary search-button">Выбрать</button>
                        </div>
                    </div>

                    <div class="uk-width-expand@m">
                        <div class="categories-head-part">
{#                            <div class="categories-head-part-links">#}
{#                                <a href="{% url "index" %}">Главная -</a>#}
{#                                <a href="{% url "catalogue" category_id=main_category.pk %}">{{ main_category.title }}</a>#}
{#                                {% for i in subcategories %}#}
{#                                    {% if forloop.first %}-{% endif %}#}
{##}
{#                                    <a href="{% url "catalogue" category_id=main_category.pk %}?category={{ i.pk }}">#}
{#                                        {{ i.title }}#}
{#                                    </a>#}
{#                                    {% if not forloop.last %}/{% endif %}#}
{#                                {% endfor %}#}
{#                            </div>#}
                            <span class="sort-by-price">Сортировать:
{#                            <a href="#" data-key="price" class="filterOrderBy">по цене</a>,#}
                            <a href="#" data-key="newest" class="filterOrderBy">по новизне</a></span>
                            <div class="search-part">
                                {% render_field form.order_by %}
                                {% render_field form.title placeholder="Поиск" id="search" %}
                                <input id="search-btn" type="submit">
                            </div>
                        </div>

                        {% autopaginate filter.qs 12 as items %}

                        <div class="uk-grid-match catalog-items-container" uk-grid>
                            {% for i in items %}
                                <div class="catalog-item-card uk-card uk-card-body uk-width-1-2 uk-width-1-4@m">
                                    <a href="{% url "product_detail" pk=i.pk %}" target="_blank"><img src="{% if i.main_image %}{{ i.main_image.url }}{% endif %}"
                                                     alt=""></a>
                                    <h3 class="catalog-item-title"><a href="#">{{ i.code }} - {{ i.title }}</a></h3>
{#                                    <p class="catalog-item-price">{{ i.price }} руб.</p>#}
                                    <a class="catalog-item-btn" href="{% url "product_detail" pk=i.pk %}" target="_blank">Купить</a>
                                    {% if i.limited %}
                                        <span class="catalog-item-limited">ограниченная серия</span>
                                    {% endif %}
                                    {% if i.hit %}
                                        <div class="catalog-hit">
                                            <span>Хит</span>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                        {% paginate %}

                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}