{% extends "base.html" %}
{% block title %}
    {{ condition.title }}
{% endblock %}
{% block content %}
    <div class="minimal-order" style="height: auto">
        <div class="uk-container uk-container-expand ck-block">
            <h2>{{ condition.title }}</h2>
            {{ condition.description|safe }}
        </div>
    </div>
{% endblock %}