{% extends "base.html" %}
{% block title %}
    Условия
{% endblock %}
{% block content %}
    <div class="services">
        <div class="uk-container uk-container-expand">
            <div class="services-block">
                <h3>Условия</h3>
                <div class="services-cards uk-grid">
                    {% for i in conditions %}
                        <div class="services-card uk-text-center uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                            <div class="services-icon services-icon-{{ i.icon }}"></div>
                            <h4>{{ i.title }}</h4>
                            <p>{{ i.short_description }}</p>
                            {% if i.description %}
                                <a href="{% url "conditions_detail" pk=i.pk %}" class="services-link" target="_blank">Подробнее</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="services-notice ck-block">
                <div class="services-attention"><span>!</span></div>
                {{ condition_page.warning_text|safe }}
            </div>

            <div class="services-block">
                <h3>Как сделать покупку</h3>
                <div class="services-cards uk-grid">
                    {% for i in condition_page.buy_steps.all %}
                        <div class="services-card uk-text-center uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">
                            <div class="services-icon"><span>{{ i.number }}</span></div>
                            <p>{{ i.text }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}