{% extends "base.html" %}
{% block title %}
    Контакты
{% endblock %}
{% block content %}
    <div class="contacts-block">
       <div class="uk-container uk-container-expand">
           <div class="contacts-circles">
               <div class="contacts-circle contacts-circle-1"></div>
               <div class="contacts-circle contacts-circle-2"></div>
               <div class="contacts-circle contacts-circle-3"></div>
               <div class="contacts-circle contacts-circle-4"></div>
               <div class="contacts-circle contacts-circle-5"></div>
               <div class="contacts-circle contacts-circle-6"></div>
               <div class="contacts-circle contacts-circle-7"></div>
               <div class="contacts-circle contacts-circle-8"></div>
           </div>
           <h2>Контакты</h2>
           <div class="contacts-inner-block ck-block">
               {% if contacts %}
                   {{ contacts.info|safe }}
               {% endif %}
           </div>
       </div>
   </div>
{% endblock %}