{% extends "base.html" %}
{% block title %}
    Доставка
{% endblock %}
{% block content %}
    <div class="minimal-order" style="height: auto">
        <div class="uk-container uk-container-expand ck-block">
            <h2>Доставка</h2>
            {{ delivery.text|safe }}
        </div>
    </div>
{% endblock %}