{% extends "base.html" %}
{% load aiel %}

{% block title %}
    Главная
{% endblock %}
{% block content %}
    <div class="main-info">
        <h1 class="main-title">Швейная фабрика</h1>
        <div class="uk-container uk-container-expand">
            <div class="main-info-content uk-child-width-expand uk-text-center uk-flex uk-flex-wrap">
                {% for i in categories|swap_categories_images %}
                    <div class="button-part button-part-woman uk-width-1-1 uk-width-1-2@m uk-position-relative">
                        <div class="{% if forloop.first %}left-icon{% else %}right-icon{% endif %} woman-photo uk-position-rel">
                            <img src="{% if i.image %}{{ i.image.url }}{% endif %}" alt="">
                        </div>
                        {% if not i.fake %}
                            <div class="button-part-flex">
                                <a href="{% url "catalogue" category_id=i.pk  %}" class="{% if forloop.first %}left{% else %}right{% endif %} btn-lg btn-lg-woman uk-position-center" href="#">{{ i.title }}</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}