{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    Оплата
{% endblock %}
{% block content %}
    <div class="payment ck-block">
        <div class="uk-container uk-container-expand">
            <h2>Оплата</h2>
            {{ req.first_text|safe }}

            <div class="services-notice">
                <div class="services-attention"><span>!</span></div>
                <p>Остерегайтесь мошенников! Мы принимаем оплату только на расчетный счет организации и не принимаем на карточки физических лиц. Если вас от имени нашей компании просят перевести деньги на банковскую карту, не делайте этого.</p>
            </div>

            {{ req.second_text|safe }}
            <div class="payment-price-and-requisites">
{#                <a class="download-price">Скачать прайс-лист</a>#}
{#                <form class="type-email-container plrForm" method="post" action="{% url "plr_create" %}">#}
{#                    {% csrf_token %}#}
{##}
{#                    <label class="type-email submitPlrFormBtn" for="type-email">#}
{#                        {% render_field plr_form.email id="type-email" placeholder="Ваш email адрес" %}#}
{#                    </label>#}
{#                </form>#}
{#                <a class="but-retail" href="{% url "retail" %}">Купить в розницу</a>#}
                <h2>Реквизиты</h2>
                <div class="requisites">
                    {{ req.russia|safe }}
                    <br>
                    {{ req.manufacturer|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}