{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    Розничная торговля
{% endblock %}
{% block content %}
    <div class="price-form-block">
        <div class="uk-container">
            <h2>Запрос прайс листа</h2>
            <form class="uk-width-1-1 uk-width-3-4@s uk-width-3-4@m uk-width-2-3@l uk-width-1-2@xl rsrForm" method="post"
                  action="{% url "rsr_create" %}">
                {% csrf_token %}

                <div class="price-form-container">
                    <div class="price-form-item">
                        <span>Интересующая продукция</span>
                        <div class="price-form-input-container">
                            {% render_field form.category %}
                            <i></i>
                        </div>
                    </div>
                    <div class="price-form-item">
                        <span>Вид деятельности</span>
                        <div class="price-form-input-container">
                            {% render_field form.shop_category %}
                            <i></i>
                        </div>
                    </div>
                    <div class="price-form-item">
                        <span>Название компании</span>
                        {% render_field form.title %}
                    </div>
                    <div class="price-form-item">
                        <span>Фамилия и имя</span>
                        {% render_field form.full_name %}
                    </div>
                    <div class="price-form-item">
                        <span>Контактный номер</span>
                        {% render_field form.phone %}
                    </div>
                    <div class="price-form-item">
                        <span>Электронная почта</span>
                        {% render_field form.email %}
                    </div>
                    <div class="price-form-item">
                        <span>Страна, город</span>
                        {% render_field form.country %}
                    </div>
                    <div class="price-form-item">
                        <span>Комментарий</span>
                        {% render_field form.comment %}
                    </div>
                    <div class="price-form-item price-form-item-btn">
                        <button type="submit">запросить прайс-лист</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}