{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    {{ product.title }}
{% endblock %}
{% block content %}
    <div class="product-part">
        <div class="uk-container-expand uk-container">
            <div class="uk-grid-match uk-child-width-expand@s" uk-grid>
                <div class="uk-width-1-1 uk-width-1-2@m">
                    <div class="product-photos">
                        <div class="" uk-grid>
                            <div class="uk-width-1-5 slider-nav">
                                {% for i in product.images.all %}
                                    <div class="product-photo-mini">
                                        <img src="{{ i.image.url }}" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="slider-right uk-width-expand slider-for">
                                {% for i in product.images.all %}
                                    <div class="product-photo-big">
                                        <div class="floor-link" data-src="{{ i.image.url }}"
                                             data-large="{{ i.image.url }}">
                                            <img class="my-foto" src="{{ i.image.url }}" alt=""
                                                 data-large="{{ i.image.url }}">
                                            {% if product.hit %}
                                                <div class="catalog-hit">
                                                    <span>Хит</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-width-1-1 uk-width-1-2@m product-text-container">
                    <div class="product-text">
                        {% if product.limited %}
                            <span class="catalog-item-limited">ограниченная серия</span>
                        {% endif %}
                        <h1>{{ product.title }}</h1>
                        <div class="product-about">
                            <p><b>Категория: </b>{{ product.category }}</p>
                            <p><b>Артикул: </b>{{ product.code }}</p>
                            <p><b>Размер: </b>{{ product.size }}</p>
                            <p><b>Длина: </b>{% if product.length %}{{ product.length }}{% else %}-{% endif %}</p>
                            <p><b>Цвет: </b>{{ product.color }}</p>
                            <p><b>Количество штук в линейке: </b>{{ product.quantity_in_linear }}</p>
                        </div>
                        {#                        <p><b>Цена за штуку: </b><span class="product-price">{{ product.price }} руб.</span></p>#}
                        {#                        <p><b>Цена за линейку: </b><span class="product-price product-price-main">{{ product.price_linear }} руб.</span></p>#}
                        <a class="catalog-item-btn addToCartBtn" data-product-id="{{ product.pk }}"
                           data-quantity="1" data-replace-quantity="0" data-url="{% url "add_to_cart" %}">купить</a>

                        {% if product.description %}
                            <div class="uk-margin-medium-top">
                                {{ product.description|safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}