{% extends "base.html" %}
{% block title %}
    О нас
{% endblock %}
{% block content %}
    <div class="about-us">
        <div class="uk-container">
            <h2>Контакты розничных магазинов</h2>
            <div class="about-us-text ck-block">
                <h2>Россия</h2>
                {{ req.kg_retail_text|safe }}
                <h2>Кыргызстан</h2>
                {{ req.ru_retail_text|safe }}
            </div>
        </div>
    </div>
{% endblock %}