@media screen and (max-width: 1190px) {
	.logo {
		margin-left: 10%;
	}
}

@media screen and (max-width: 1150px){
	.counter-item {
		width: 50%;
		align-items: center;
		text-align: center;
	}
	.logo {
		margin-left: 13%;
	}
}

@media screen and (max-width: 959px) {
	.logo {
		margin-left: 0;
	}
	header {
		padding-bottom: 60px;
	}
	.woman-photo img {
		width: 50%;
	}
	.main-info .uk-container {
		background: url(../images/logo-main-info.svg) center center no-repeat;
		background-size: contain;
		padding-top: 150px;
	}
	.main-info .uk-container {
		min-height: auto;
	}
	.button-part {
		height: 50%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}
	.btn-lg {
		position: static !important;
		transform: translate(0) !important;
	}
	.woman-photo {
		display: none;
	}
	.hover + div a {
		opacity: 1;
	}
	.categories {
		font-size: 12px;
	}
	.about-us-text, .delivery-text {
		width: 90%;
	}
	.categories-head-part-links, .sort-by-price {
		margin-bottom: 15px;
	}
	.search-part, #search {
		width: 100%;
	}
	.minimal-order .uk-container,
	.documents .uk-container {
		width: 80%;
	}
	.error-links .btn-lg {
		font-size: 18px!important;
	}
	.contacts-circles {
		display: none;
	}
	.basket-image, .basket-block h3 {
		text-align: center;
	}
	.basket-form div {
		margin-bottom: 15px;
	}
	.basket-block h3 {
		font-size: 16px;
		text-transform: uppercase;
	}
	.main-catalog-title {
		margin: 20px 0;
	}
	.magnifier {
		display: none !important;
	}
	.basket-block form input, .basket-block form a {
		font-size: 18px;
	}
	.price-form-item {
		flex-wrap: wrap;
	}
	.price-form-item span {
		display: inline-block;
		width: 100%;
		text-align: left;
	}
	.price-form-input-container {
		width: 100%;
	}
	.price-form-item input, .price-form-item textarea {
		width: 100%;
	}
	.price-form-item textarea {
		max-width: 100%;
		min-width: 100%;
	}
	.price-form-item-btn {
		justify-content: center;
	}
	.catalog-items-container {
		margin-left: 0;
	}
	.catalog-part .uk-container {
		padding: 0;
	}
}

@media screen and (max-width: 650px) {
	.categories-dropdown {
		display: none !important;
	}
	.uk-dropdown.uk-open {
		display: block !important;
	}
	.main-info .btn-lg {
		font-size: 18px!important;
	}
	.payment .services-notice {
		padding: 15px;
	}
	.services-notice p {
		width: 100%;
		font-size: 20px;
		text-align: center;
		padding-right: 0;
	}
	.download-price {
		font-size: 18px;
	}
	.type-email::before {
		display: none;
	}
	.type-email {
		padding-left: 5%;
		font-size: 14px;
		margin-bottom: 80px;
	}
	.type-email::after {
		bottom: 0;
		top: 60px;
		width: 100%;
	}
	.minimal-order {
		height: auto;
	}
	.product-text-container {
		margin-top: 0!important;
	}
	/*.calling-link {*/
		/*bottom: 70px;*/
	/*}*/
	/*.whatsapp-link {*/
		/*bottom: 150px;*/
	/*}*/

	.social-nets {
		text-align: center;
	}

}

@media screen and (max-width: 450px) {
	body {
		padding: 5px;
	}
	.about-us-text {
		width: 100%;
	}
	.main-info {
		height: calc(100vh - 229px);
	}
	.counter-item {
		width: 100%;
	}
	.download-price {
		font-size: 14px;
		padding-left: 30%;
		white-space: nowrap;
	}
	.download-price::before {
		width: 50px;
	}
	.basket-features,
	.basket-block h4 {
		font-size: 12px;
	}
	.basket-block h2 {
		margin: 15px 0;
	}
	.basket-price span {
		font-size: 18px;
	}
	.main-catalog-title {
		margin: 15px 0;
	}
	.categories-title {
		margin-bottom: 10px;
	}
	#cartModal > div {
		padding: 30px 20px;
	}
	#cartModal > div h2 {
		font-size: 18px;
	}
	.modal-contact-item {
		font-size: 14px;
	}
	.main-title {
		width: 100%;
		text-align: center;
		font-size: 18px;
	}
	.catalog-part .main-catalog-title {
		margin: 5px 0;
		font-size: 18px;
	}
	.categories-title {
		margin-bottom: 5px;
	}
	.main-categories {
		margin-bottom: 5px;
	}
	.contacts-block h2 {
		margin: 0 0 20px;
	}
	.contacts-block span {
		font-size: 18px;
	}
	address, dl, fieldset, figure, ol, p, pre, ul {
		margin: 0 0 10px;
	}
	*+address, *+dl, *+fieldset, *+figure, *+ol, *+p, *+pre, *+ul {
		margin-top: 0;
		font-size: 14px;
	}
	.contacts-inner-block {
		padding: 10px 15px;
	}
	.whatsapp-link,
	.calling-link {
		width: 40px;
		height: 40px;
	}
	.whatsapp-link {
		bottom: 30%;
	}
	/*.whatsapp-link {*/
		/*bottom: 125px;*/
	/*}*/
	.calling-link:before {
		width: 33px;
		height: 33px;
	}
	.calling-link:after {
		width: 40px;
		height: 40px;
	}
	.contacts-block .uk-container {
		padding: 0 0 20px;
	}
}