@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i&subset=cyrillic');

* {
    box-sizing: border-box;
}

/*font-family: 'Lora', serif;*/
/*font-family: 'Roboto', sans-serif;*/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #000;
    padding: 24px;
}

header {
    padding: 22px 0 0px;
    background: #EBD8E2;
    height: 124px;
}

.main-info {
    height: calc(100vh - 150px);
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-title {
    font-size: 24px;
    color: #524B4F;
    font-family: 'Lora', serif;
    font-style: italic;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

.main-info .uk-container {
    width: 80%;
    min-height: 500px;
    background-size: contain;
    height: 100%;
}

.error, .minimal-order {
    height: calc(100vh - 267px);
}

.basket-block {
    min-height: calc(100vh - 267px);
}

.about-us, .main-info, .delivery, .services, .error, .minimal-order, .documents, .contacts-block, .payment {
    background: #EBD8E2 url(../images/logo-main-info.svg) center center no-repeat;
    background-size: contain;
}

footer {
    padding: 32px 0 24px;
    background: #EBD8E2;
}

.footer-white {
    background: #fff;
}

.catalog-part {
    margin-bottom: 30px;
}

/*СТИЛИ ДЛЯ ГЛАВНЫХ СТРАНИЦ*/

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: transparent;
}

.uk-navbar-nav > li > a {
    color: #000;
    white-space: nowrap;
}

.uk-navbar-nav > li > a:hover {
    color: #000;
    text-decoration: underline;
}

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
    padding: 0 10px;
}

.basket {
    vertical-align: middle;
    color: #00151B;
}

.basket span {
    margin-left: 5px;
}

.basket:hover {
    color: #7b7c7c;
    text-decoration: none;
}

.basket i {
    font-style: normal;
    text-decoration: underline;
}

.main-info-content {
    height: 100%;
}

.woman-photo {
    background-size: contain;
}

.woman-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-part {
    align-items: center;
    height: 100%;
}

.button-part-flex {
    display: flex;
    justify-content: center;
}

.btn-lg {
    color: #000;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
    border: 1px solid #000;
    height: 49px;
    display: block;
    line-height: 47px;
    padding: 0 20px;
    white-space: nowrap;
}

.btn-lg:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}

.right-icon, .left-icon {
    opacity: 0;
    height: 100%;
    transition: 0.3s;
}

.hover {
    opacity: 1;
    z-index: 100;
}

.hover + div a {
    opacity: 0;
}

.social {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 12px;
    opacity: 0.20;
}

.social:hover {
    opacity: 1;
}

.ds {
    background: url(../images/dieselelcat.png);
}

.vk {
    background: url(../images/vk.png);
}

.in {
    background: url(../images/insta.png);
}

.fb {
    background: url(../images/fb.png);
}

.whatsapp-link {
    position: fixed;
    right: 30px;
    bottom: 35%;
    width: 55px;
    height: 55px;
    display: inline-block;
    z-index: 15;
}
.calling-link {
    position: fixed;
    right: 30px;
    bottom: 20%;
    width: 55px;
    height: 55px;
    display: inline-block;
    z-index: 15;
    outline: none;
}

.calling-link:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    left: 50%;
    background: #BF426C;
    opacity: 0.3;
    border-radius: 50%;
    z-index: 5;
    animation: pulsation-wp 2s ease-in-out infinite;
}

.calling-link:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 55px;
    height: 55px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #BF426C;
    opacity: 0.3;
    border-radius: 50%;
    z-index: 5;
    animation: pulsation-wp 2s ease-in-out infinite;
}

.calling-link img,
.whatsapp-link img {
    position: relative;
    z-index: 15;
}

@keyframes pulsation-wp {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.6);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

/*СТИЛИ ДЛЯ КАТАЛОГА*/

.main-catalog-title {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
    color: #00151B;
    margin: 30px 0 35px;
}
.categories-title {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
}
.main-categories {
    margin-bottom: 10px;
    width: 100%;
}
.adult-categories button {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 300 !important;
    outline: none;
    font-family: 'Roboto', sans-serif !important;
}
.categories-dropdown {
    padding: 0;
    box-shadow: none;
    position: static;
}
input[type="checkbox"] {
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

input[type="checkbox"] + span {
    opacity: 1;
    width: 20px;
    height: 20px;
    border: 1px solid;
    display: inline-block;
    margin-right: 5px;
}

input[type="checkbox"]:checked + span {
    background: url(../images/check-box.svg) center center no-repeat;
}

label {
    line-height: normal;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.add-categories {
    padding-left: 30px;
}

.categories-head-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.search-part {
    position: relative;
}

#search-btn {
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    background: #000 url(../images/search.svg) center center no-repeat;
    border: 0;
}

#search {
    vertical-align: middle;
    height: 32px;
    width: 187px;
    color: #7F7F7F;
    font-size: 16px;
    padding-left: 6px;
    outline: none;
    border: 1px solid #000;
}

.categories-head-part-links {
    max-width: 320px;
}

.categories-head-part-links a {
    color: #808080;
}

.sort-by-price {
    color: #111516;
}

.sort-by-price a {
    color: #111516;
    text-decoration: underline;
}
.catalog-item-card .catalog-item-limited {
    position: absolute !important;
    top: 55%;
}
.catalog-hit {
    height: 50px;
    width: 40px !important;
    position: absolute;
    top: 10px;
    left: 10px;
    background: url(../images/hit.svg) no-repeat center center;
}
.catalog-hit span {
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}
.catalog-item-limited {
    display: inline-block;
    background: #BF426C;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    width: auto !important;
    font-size: 12px !important;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.catalog-item-limited:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 6px 0 0;
    border-color: #bf426c transparent transparent transparent;
}

.catalog-item-limited:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 0 6px;
    border-color: transparent transparent transparent #bf426c;
}

.catalog-item-card {
    text-align: center;
    padding: 20px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.catalog-item-card img {
    width: 214px;
    height: 352px;
    object-fit: contain;
}

.catalog-item-card:hover .catalog-item-title,
.catalog-item-card:hover .catalog-item-price {
    text-decoration: underline;
}

.catalog-item-card:hover .catalog-item-btn,
.catalog-item-btn:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}

.catalog-item-title {
    font-size: 16px;
    font-weight: 300;
    margin: 15px 0 7px;
}

.catalog-item-title a {
    color: #000;
    text-decoration: none;
}

.catalog-item-price {
    font-weight: bold;
    margin: 0 0 16px;
}

.catalog-item-btn {
    height: 40px;
    max-height: 40px;
    width: 100%;
    background: transparent;
    line-height: 37px;
    border: 1px solid #000;
    display: inline-block;
    color: #000;
    text-align: center;
}

.pages {
    margin-top: 50px;
}

.pages-btn {
    width: 24px;
    height: 32px;
    background: #F7F0F4;
    line-height: 30px;
    color: #000;
    display: inline-block;
    margin-right: 10px;
}

.pages-btn:last-child {
    margin-right: 0;
}

.pages-btn:hover {
    color: #000;
}

.pages-btn-active {
    background: #000;
    color: #fff;
}

/*СТИЛИ ДЛЯ СТРАНИЦЫ О НАС И ДОСТАВКА*/
.about-us, .delivery {
    padding-bottom: 50px;
}

.text-with-links {
    margin: 0;
}

.delivery a {
    display: block;
    color: #000;
    text-decoration: underline;
}

.delivery a:hover {
    text-decoration: none;
    opacity: 0.75;
}

.about-us h2,
.delivery h2,
.minimal-order h2,
.documents h2,
.error h2,
.basket-block h2,
.contacts-block h2,
.payment h2 {
    font-size: 24px;
    font-family: 'Lora', serif;
    font-style: italic;
    color: #00151B;
    text-align: center;
    margin: 29px 0;
}

.about-us-text, .delivery-text {
    width: 70%;
    margin: 0 auto;
}

.about-us-text p {
    margin: 0 !important;
}

.about-us-text b, .delivery b {
    font-weight: bold;
}

.about-us-counters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

.counter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-number {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 48px;
    margin-bottom: 20px;
    display: inline-block;
}

.counter-info {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: bold;
}

/*СТИЛИ ДЛЯ СТРАНИЦЫ ПРОДУКТ*/

.product-part {
    margin-top: 56px;
    margin-bottom: 100px;
}

.product-part h1 {
    font-size: 24px;
    margin: 24px 0;
    text-transform: uppercase;
}

.product-photo-mini {
    border: 1px solid #bebebe !important;
    margin-bottom: 22px;
    width: auto !important;
}

product-photo-mini img {
    width: 77px;
    height: 116px;
    object-fit: contain;

}

.product-photo-mini:hover {
    border: 1px solid #000 !important;
}

.slick-current.slick-center {
    border: 1px solid #000 !important;
    outline: none;
}

.product-photo-big img {
    width: 90%;
}

.product-text h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
    margin-bottom: 22px;
}

.product-text p {
    margin: 0;
    margin-bottom: 5px;
    line-height: 1;
}

.product-text p b {
    font-weight: bold;
}

.product-about {
    margin-bottom: 22px;
}

.product-price {
    font-size: 16px;
    color: #00151B;
    font-weight: 300;
    display: inline-block;
}

.product-price-main {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
}

.product-text .catalog-item-btn {
    width: 235px;
    display: block;
    margin-top: 22px;
}

/*СТИЛИ ДЛЯ БЛОКА SERVICES*/

.services .uk-container {
    width: 70%;
}

.services {
    padding-bottom: 40px;
}

.services h3 {
    font-family: 'Lora', serif;
    font-style: italic;
    text-align: center;
}

.services-icon {
    width: 64px;
    height: 64px;
    background: #BF426C;
    border-radius: 50%;
    margin: 0 auto 12px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    line-height: 63px;
    text-align: center;
}

.services-icon-1 {
    background-image: url(../images/serv-icon-1.svg);
}

.services-icon-2 {
    background-image: url(../images/serv-icon-2.svg);
}

.services-icon-3 {
    background-image: url(../images/serv-icon-3.svg);
}

.services-icon-4 {
    background-image: url(../images/serv-icon-4.svg);
}

.services-icon-5 {
    background-image: url(../images/serv-icon-5.svg);
}

.services-icon-6 {
    background-image: url(../images/serv-icon-6.svg);
}

.services h4 {
    margin: 12px 0 12px;
}

.services p {
    margin: 0 0 12px;
}

.services-link {
    text-decoration: underline;
    color: #BF426C;
}

.services-link:hover {
    text-decoration: none;
    color: #BF426C;
    opacity: 0.65;
}

.services-card {
    margin-bottom: 18px;
}

.services-icon span {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 36px;
    color: #fff;
}

.services-notice {
    background: #BF426C;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.services-attention {
    text-align: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    line-height: 63px;
    background: #fff;
    margin: 0 auto;
}

.services-attention span {
    font-size: 48px;
    font-family: 'Lora', serif;
    font-style: italic;
    color: #BF426C;
}

.services-notice p {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
    color: #fff;
    width: 85%;
    padding-right: 15px;
}

/*СТИЛИ ДЛЯ MINIMAL-ORDER, DOCUMENTS */

.minimal-order .uk-container,
.documents .uk-container {
    width: 45%;
    padding: 20px 0 20px;
}

.minimal-order ul,
.documents ul {
    margin: 0;
    padding-left: 18px;
}

.minimal-order li,
.documents li {
    margin: 0;
    padding: 0;
    line-height: 18px;
}

.delivery a {
    text-decoration: none;
    color: #96588a;
}

.minimal-order a:hover,
.documents a:hover,
.delivery a:hover {
    color: #96588a;
    text-decoration: underline;
}

.text-before-list {
    margin: 0;
}

.documents-link {
    color: #BF426C;
    text-decoration: underline;
}

.documents-link:hover {
    color: #BF426C;
    text-decoration: none;
    opacity: 0.7;
}

/*СТИЛИ ДЛЯ ERROR*/

.error p {
    text-align: center;
}

.error .uk-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.error h2 {
    margin-bottom: 25px;
}

.error p {
    margin: 0;
}

.error-links {
    flex-grow: 5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.error-links .btn-lg {
    max-width: 315px;
    text-align: center;
    margin: 0 auto;
}

/*СТИЛИ ДЛЯ BASKET*/
.basket-features-block {
    padding: 15px;
}

.basket-block .uk-table td {
    padding: 0 !important;
}

.basket-block .uk-container {
    padding-bottom: 40px;
}

.basket-image {
    display: inline-block;
    max-width: 78px;
    padding: 15px;
    position: relative;
}

.basket-image .catalog-hit {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.65);
}

.basket-image img {
    width: 78px;
    height: 117px;
    object-fit: cover;
}

.basket-padding {
    display: inline-block;
    padding: 0 10px 0 0;
}

.basket-block b {
    font-weight: 700;
}

.basket-block p {
    margin: 0;
    padding: 0;
}

.basket-block h4 {
    margin: 0;
    margin-bottom: 2px;
    font-size: 16px;
}

.basket-price span {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
}

.basket-item {
    border-bottom: 1px solid #000;
}

.basket-summ span {
    font-weight: 400;
}

.basket-block form > div {
    margin-bottom: 10px;
}

.bottom-td {
    margin-bottom: 10px;
}

.basket-block form input,
.basket-block form a {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    background: #BF426C;
}

.basket-block form a:hover {
    background: #9D5A7E;
    text-decoration: none;
}

#cartModal {
    background: rgba(157, 90, 126, 0.75);
}

#cartModal > div {
    position: relative;
    font-weight: 400;
    border-radius: 20px;
    width: auto;
    max-width: 395px !important;
    padding: 40px 30px;
}

#cartModal .uk-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #BF426C url(../images/cross.svg) no-repeat center center;
    border: none;
}

#cartModal > div h2 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

#cartModal > div p {
    margin: 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.modal-contact-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.modal-contact-item h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.modal-contact-item span {
    font-size: 16px;
}

.basket-block label {
    display: inline-block;
    width: 100%;
    height: 32px;
    background: #000;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}

.basket-block label input {
    display: none;
}

#formButton {
    border: none;
    background: #000;
    border-radius: 0px;
    color: #fff;
}

.basket-order h2 {
    margin-bottom: 18px;
}

.basket-switch input {
    width: 48px;
    text-align: center;
    border: none;
    color: #000;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
    vertical-align: middle;
}

.basket-switch span {
    width: 24px;
    height: 32px;
    background: #F7F0F4;
    display: inline-block;
    vertical-align: middle;
    line-height: 31px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

.basket-switch span:hover {
    background: #000;
    color: #fff;
}

.basket-form {
    margin: 0 auto;
}

.basket-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.basket-block h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 8px;
}

.basket-items .uk-flex {
    display: flex !important;
}

.btn-delete {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #F7F0F4;
    position: relative;
}

.btn-delete::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    transform: rotate(45deg);
    position: absolute;
    top: 8px;
    left: 16px;
    background: #000;
}

.btn-delete::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    transform: rotate(-45deg);
    position: absolute;
    top: 8px;
    left: 16px;
    background: #000;
}

.btn-delete:hover {
    background: #000;
}

.btn-delete:hover::after,
.btn-delete:hover::before {
    background: #fff;
}

/*СТИЛИ ДЛЯ CONtACTS*/

.contacts-block h2 {
    position: relative;
    z-index: 99;
    color: #000;
}

.contacts-block .uk-container {
    width: 90%;
    padding: 40px 0 120px;
    position: relative;
}

.contacts-block h4 {
    margin: 0;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.contacts-block span.head {
    display: block;
    /*font-size: 24px;*/
}

.contacts-inner-block {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    padding: 10px 45px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.55);
}

.contacts-circle {
    position: absolute;
    border-radius: 50%;
    display: block;
}

@keyframes translate1 {
    /*0% {
        transform: translateX(0px);
    }
    10%{
        transform: translateY(25px);
    }
    20%{
        transform: translateX(25px);
    }
    30% {
        transform: translateY(50px);
    }
    40%{
        transform: translateX(50px);
    }
    50% {
        transform: translateY();
    }
    60%{
        transform: translateX(50px);
    }
    70%{
        transform: translateY();
    }
    80%{
        transform: translateX(20px);
    }
    90%{
        transform: translateY();
    }
    100% {
        transform: translateX(0px);
    }*/
}

@keyframes Orbita1 {
    from {
        transform: rotate(180deg) translateY(90px) rotate(180deg);
    }
    to {
        transform: rotate(540deg) translateY(90px) rotate(540deg);
    }
}

@keyframes Orbita2 {
    from {
        transform: rotate(540deg) translateX(50px) rotate(540deg);
    }
    to {
        transform: rotate(180deg) translateX(50px) rotate(180deg);
    }
}

@keyframes Orbita3 {
    from {
        transform: rotate(180deg) translateX(100px) rotate(180deg);
    }
    to {
        transform: rotate(540deg) translateX(100px) rotate(540deg);
    }
}

@keyframes Orbita4 {
    from {
        transform: rotate(180deg) translateX(70px) rotate(180deg);
    }
    to {
        transform: rotate(540deg) translateX(70px) rotate(540deg);
    }
}

@keyframes Orbita6 {
    from {
        transform: rotate(180deg) translateX(100px) rotate(180deg);
    }
    to {
        transform: rotate(540deg) translateX(100px) rotate(540deg);
    }
}

@keyframes Orbita7 {
    from {
        transform: rotate(540deg) translateX(50px) rotate(540deg);
    }
    to {
        transform: rotate(180deg) translateX(50px) rotate(180deg);
    }
}

.contacts-circle-1 {
    width: 270px;
    height: 270px;
    background: #DCAEC7;
    top: 0;
    left: 25%;
    animation: Orbita1 5s linear infinite;
}

.contacts-circle-2 {
    width: 300px;
    height: 300px;
    background: #BF426C;
    top: 23%;
    left: 0;
    animation: Orbita2 5s linear infinite;
}

.contacts-circle-3 {
    width: 200px;
    height: 200px;
    background: #B91B70;
    bottom: 5%;
    left: 10%;
    animation: Orbita3 7s linear infinite;
}

.contacts-circle-4 {
    width: 120px;
    height: 120px;
    background: #9D5A7E;
    bottom: 13%;
    left: 45%;
    animation: Orbita4 10s linear infinite;
}

.contacts-circle-6 {
    width: 200px;
    height: 200px;
    background: #B91B70;
    top: 5%;
    right: 8%;
    animation: Orbita6 7s linear infinite;
}

.contacts-circle-7 {
    width: 270px;
    height: 270px;
    background: #DCAEC7;
    bottom: 0;
    right: 16%;
    animation: Orbita7 4s linear infinite;
}

/*СТИЛИ ДЛЯ PAYMENT*/

.payment-price-and-requisites {
    max-width: 406px;
    margin: 0 auto;
}

.payment h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.payment .uk-container > p {
    margin: 0;
    margin-bottom: 22px;
}

.payment .uk-container {
    width: 70%;
}

.payment .services-notice p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
}

.payment .services-notice {
    margin-bottom: 30px;
    padding: 5px 7px;
}

.download-price {
    width: 100%;
    height: 60px;
    display: inline-block;
    background: #F7F0F4 !important;
    position: relative;
    line-height: 58px;
    padding-left: 30%;
    color: #000 !important;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
    margin-bottom: 25px;
}

.but-retail {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
    width: 100%;
    height: 60px;
    display: inline-block;
    line-height: 58px;
    background: #000;
    color: #ffffff !important;
    text-align: center;
}

.but-retail:hover {
    opacity: 0.85;
}

.download-price:hover {
    text-decoration: underline;
    color: #000;
    opacity: 0.85;
}

.type-email-container {
    position: relative;
    display: none;
}

.download-price::before,
.type-email::before {
    display: inline-block;
    content: '';
    width: 78px;
    height: 60px;
    background: #000 url(../images/price.svg) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
}

.type-email::after {
    display: inline-block;
    content: '';
    width: 78px;
    height: 60px;
    background: #fff url(../images/arrow.svg) no-repeat center center;
    position: absolute;
    top: 0;
    right: 0;
}

.type-email {
    border: none;
    height: 60px;
    line-height: 58px;
    width: 100%;
    padding-left: 25%;
    background: #000;
    text-decoration: underline;
    display: block;
    margin-bottom: 25px;
}

#type-email {
    background: #000;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    padding-right: 25px;
    font-size: 16px;
}

.requisites p {
    margin: 0;
}

.search-button {
    background: #DCAEC7;
    color: black;
    opacity: 0.7;
}

.uk-button-default {
    border: none
}

.catalog-part .uk-container {
    min-height: calc(100vh - 219px);
}

.minimal-order .uk-container {
    min-height: calc(100vh - 219px);
}

/*Стили для модалки*/
.calling-modal-main-cont {
    padding-top: 10%;
}

.calling-modal {
    background: #EBD8E2;
    width: 406px;
    padding: 32px;
    border-radius: 4px;
    position: relative;
    margin: 0 !important;
}

.calling-modal h4 {
    text-align: center;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
    color: #000;
    margin: 0;
    margin-bottom: 12px;
}

.calling-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calling-modal label {
    font-size: 12px;
    margin-bottom: 2px;
    line-height: normal;
    display: block;
    text-align: left;
    width: 100%;
}

.calling-modal input {
    height: 40px;
    line-height: 40px;
    width: 100%;
    border: none;
    padding: 10px;
    color: #888888;
    margin-bottom: 12px;
    outline: none;
}

.calling-modal-container {
    padding: 0;
    width: 406px;
    background: transparent;
}

#modalSend {
    height: 40px;
    line-height: 38px;
    width: 186px;
    border: 1px solid #000;
    font-size: 16px;
    color: #000;
    background: transparent;
    margin-top: 20px;
    outline: none;
}

.modal-close-btn {
    width: 48px;
    height: 48px;
    background: #BF426C;
    border-radius: 50%;
    position: absolute;
    top: -24px;
    right: -24px;
    border: none;
    outline: none;
}

.modal-close-btn::before,
.modal-close-btn::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
}

.modal-close-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

/*Стили для lightGalary*/

.lg-outer #lg-share,
#lg-download {
    display: none;
}

.uk-notification-message-success {
    color: black;
    width: 250px;
    font-size: 15px;
}

.ck-block a {
    text-decoration: underline;
    color: #BF426C;
}

.ck-block a:hover {
    text-decoration: none;
    color: #BF426C;
    opacity: 0.65;
}

img {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

/*Стили для price-form*/

.price-form-block {
    padding: 40px 0;
    background: #EBD8E2;
}
.price-form-block h2 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 24px;
    color: #00151B;
    text-align: center;
}
.price-form-block form {
    margin: 0 auto;
}
.price-form-container {
    display: flex;
    flex-wrap: wrap;
}
.price-form-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.price-form-item span {
    padding: 5px 0;
    width: 30%;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    text-align: right;
}
.price-form-input-container select {
    padding: 0 20px;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #ffffff;
    border: none;
    outline: none;
    display: inline-block;
}
.price-form-input-container {
    position: relative;
    width: 63%;
}
.price-form-item input,
.price-form-item textarea {
    width: 63%;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 20px;
    background: #ffffff;
    border: none;
    outline: none;
}
.price-form-item textarea {
    height: 115px;
    max-width: 63%;
    min-width: 63%;
    padding: 10px 20px;
    line-height: normal;
}
.price-form-input-container select {
    width: 100%;
    -webkit-appearance: none;
}
.price-form-input-container i {
    display: inline-block;
    width: 16px;
    height: 8px;
    background: url(../images/arrow-down.svg) no-repeat center center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.price-form-item-btn {
    justify-content: flex-end;
}
.price-form-item-btn button {
    width: 63%;
    height: 46px;
    line-height: 46px;
    background: #BF426C;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border: none;
    color: #fff;
    transition: 0.5s;
}
.price-form-item-btn button:hover {
    background: #9D5A7E;
    transition: 0.5s;
}
.categories-dropdown {
    display: block !important;
}
.slider-right {
    position: relative;
}
.slider-right .catalog-hit {
    position: absolute;
    top: 0;
    left: 0;
}
